################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Budgeting
Budgeting/bin
Budgeting/obj
Budgeting/te.txt
.vs/ProjectEvaluation/budgeting.projects.v5.1
.vs/ProjectEvaluation/budgeting.metadata.v5.1
