@page "/liliancost"

<PageTitle>Lilian's Costs</PageTitle>
<br />
<br />
<ProgressBar Title="Total Expenses" Height="40px" Width="400" InitialValue="1" DisplayString="1"></ProgressBar>
<br />
<br />
<h4 style="text-align: center">Breakdown</h4>
<ul style="border: groove black 2px;">

</ul>

@code {
    public static double PersonalLoanCost = 78.00;
    public static double RentCost = 833.50;
    public static double InsuranceCost = 148.00;
    public static double RentersCost = 20.00;
    public static double MiscCost = 150.00;
    public static double StudentLoanCost = 150.00;
    public static double FederalLoanCost = 200.00;
    public static double ParkingSpotCost = 65.00;
    public static double HairCost = 85.00;
    public static double GroceryCost = 100.00;
    public static double AmazonCost = 9.99;
    public static double AppleMusicCost = 5.99;
    public static double PuzzleAppCost = 5.99;
   // public static double InvestmentCost = Index.NickMonthlyIncome * 0.15;
   // public static double SavingsCost = Index.NickMonthlyIncome * 0.10;

    public static List<double> AllCosts = new List<double> { PersonalLoanCost, RentCost, InsuranceCost, RentersCost, MiscCost, StudentLoanCost, FederalLoanCost, ParkingSpotCost, HairCost, GroceryCost, AmazonCost, AppleMusicCost, PuzzleAppCost };

   // public static string GrossRemaining = Math.Round(((AllCosts.Sum() / Index.LilianMonthlyIncome) * 100), 2) + "%";
    //public static string DisplayGross = $"${Math.Round(AllCosts.Sum(), 2)}/${Math.Round(Index.LilianMonthlyIncome, 2)} --> {GrossRemaining}";

    protected override void OnInitialized()
    {
       // DisplayList = DisplayList.OrderByDescending(x => x.d).ToList();
    }
}
